$background-color: #101820ff;
$forground-color: #fee715ff;

.App {
  text-align: center;
  background-color: $background-color;
  height: 100vh;

  & > * {
    color: $forground-color;
  }

  h1 {
    padding: 2rem;
  }
}
